body {
    padding-top: 60px;
}

:target {
    scroll-margin-top: 60px;
}

.blueLine {
    background-color: blue;
    height: 60px;
}

.greenLine {
    background-color: green;
    height: 60px;
}

.redLine {
    background-color: red;
    height: 60px;
}

.blackLine {
    background-color: black;
    height: 60px;
}

.whiteLine {
    background-color: white;
    height: 60px;
}

.carousel-inner img {
    height: 300px;
    object-fit: cover; /* maintain image aspect ratio */
}

.accordion-button:focus {
    box-shadow: none;
    background-color: transparent !important;
}