body {
    padding-top: 60px;
}

.linhaAzul{
    background-color: blue;
    height: 60px;
}

.linhaVerde{
    background-color: green;
    height: 60px;
}

.linhaVermelha{
    background-color: red;
    height: 60px;
}

.linhaPreta{
    background-color: black;
    height: 60px;
}

.linhaBranca{
    background-color: white;
    height: 60px;
}

.carousel-inner img{
    height: 300px; /* ajuste para a altura desejada */
    object-fit: cover; /* mantém a proporção da imagem */
}

.accordion-button:focus {
    box-shadow: none;
    background-color: transparent !important;
}